---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Not Found - Dagsan.dev">
  <Navbar />
  <main class="text-center">
    <img src="/img/404-error-lost-in-space-animate.svg" alt="404 not found image" />
    <p class="text-4xl sm:text-5xl md:text-7xl">Page Not Found!</p>
  </main>
</Layout>

<style>
  main {
    margin-inline: 7dvw;
    min-height: 80vh;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  p{
    color: #21E3EF;
    font-weight: 700;
  }

  img {
    width: 450px;
  }
</style>
