---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contact - Dagsan.dev">
  <Navbar />
  <main>
    <ContactForm />
  </main>
  <Footer />
</Layout>
