---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import JourneyPhrase from "../components/JourneyPhrase.astro";
import Portfolio from "../components/Portfolio.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Home - Dagsan.dev">
  <Navbar />
  <main>
    <div class="hero-container">
      <Hero />
    </div>

    <About />

    <Portfolio />

    <JourneyPhrase/>

    <Skills />        
    
  </main>
  <Footer />
</Layout>

<style>
  .hero-container {
    min-height: 100dvh;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>
