<div
  class="text-center mt-10"
  id="about"
>
  <h2 class="text-4xl md:text-5xl text-txt-primary font-extrabold p-10">
    About me
  </h2>

  <div class="flex justify-center">
    <p class="max-w-96 md:max-w-2xl text-txt-secondary text-balance">
      Experienced developer with over two years of expertise. My journey began with Java courses, igniting a passion for backend development utilizing technologies such as Spring, Hibernate, SQL, and Docker, among others. Currently, 
      I am focusing expanding my knowledge in frontend technologies, UX/UI design, and accessibility. Also I enjoy staying focused on learning new things so I
      am pursuing an Associate Degree in Software Development. 
      If you are interested in viewing my CV, working with me, or
      learning more about me, feel free to visit the 'contact me' section and drop me a message."
    </p>
  </div>
</div>