<div class="grid grid-cols-1 md:grid-cols-2 items-center justify-center mt-20 mx-2 p-5" >
  <div class="flex justify-center mt-8 max-w-7xl">
    <img src="/img/outer-space.webp" alt="outer space animated img" />
  </div>

  <article
    class="flex flex-col items-center justify-center max-w-xl w-full text-2xl md:text-4xl"
  >
    <p class="">
      After all, life is a journey and we all will land in the same box.
    </p>
    <p class="text-4xl uppercase mt-6">Enjoy!</p>
  </article>
</div>

<style>
  p {
    color: #21e3ef;
    font-weight: 500;
    text-align: justify;
  }

  img {
    width: 100%;
    max-width: 550px;
    min-width: 250px;
  }
</style>
