---
import ProjectCard from "./ProjectCard.astro";
---

<section id="portfolio">
  <div class="flex justify-center mt-10">
    <h2 class="text-4xl md:text-5xl text-txt-primary font-extrabold p-10" data-aos="zoom-in-up" data-aos-duration="1000">
      Portfolio
    </h2>
  </div>

  <div class="flex justify-center text-txt-secondary text-lg mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
    <h4 class="uppercase">Selected projects</h4>
  </div>

  <div class="card-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 text-txt-secondary " data-aos="zoom-in-up" data-aos-duration="1000">
    <ProjectCard
      title="Persistence Validator with Microservices" 
      body="Java Spring Hibernate MySQL Docker Circuit Breaker Load Balancer Api Gateway" 
      hrefA="https://github.com/dagsandev/aws-sicos-java-docker-bootcamp/tree/main/final-project/backend" 
      hrefImg="../../src/assets/img/portfolio/microservices.webp"
      alt="project img" 
    />
  
    <ProjectCard 
      title="Power-Fit" 
      body="Angular Java Spring JWT Hibernate MySQL" 
      hrefA="https://github.com/dagsandev/nocountry-project-powerfit-c12" 
      hrefImg="../../src/assets/img/portfolio/powerfit.webp"
      alt="project img" 
    />
  
    <ProjectCard 
      title="Cash Now" 
      body="Angular Java Spring JWT Hibernate MySQL Circuit Breaker Load Balancer Api Gateway HexagonalArch" 
      hrefA="https://github.com/dagsandev/nocountry-s10-project-java-angular-microservices"
      hrefImg="../../src/assets/img/portfolio/cashnow.webp"
      alt="project img" 
    />
  
    <ProjectCard 
      title="Tech Ecommerce (in progress)" 
      body="Angular Java Spring JWT Hibernate MySQL Docker" 
      hrefA="https://github.com/dagsandev/tech_ecommerce" 
      hrefImg="../../src/assets/img/portfolio/tech-ecommerce.webp"
      alt="project img" 
    />
  
    <ProjectCard 
      title="Text Encrypter" 
      body="HTML CSS JS" 
      hrefA="https://github.com/dagsandev/text-encrypter-challenge" 
      hrefImg="../../src/assets/img/portfolio/text-encrypter.webp"
      alt="project img" 
    />
  
    <ProjectCard 
      title="Sunshine Landing" 
      body="HTML TAILWIND CSS" 
      hrefA="https://sunshine-partydeco.vercel.app/"
      hrefImg="../../src/assets/img/portfolio/sunshine-landing.webp"
      alt="project img" 
    />
  </div>  
</section>


<style>
  .card-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
</style>