---
interface Props {
  href: string;
  alt: string;
  title: string;
}

const { href, alt, title } = Astro.props;
---

<div class="bubble-container flex flex-col items-center">
  <div class="bubble">
    <img src={href} alt={alt} loading="lazy"/>
  </div>

  <p class="uppercase text-sm text-txt-secondary">{title}</p>
</div>

<style>
  .bubble {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(190, 190, 190, 0.3);
    position: relative;
    overflow: hidden;
    margin: 0.5rem;
    padding: 0.5rem;
    transform: transform 0.3s ease;
  }
  .bubble img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .bubble:hover {
    background-color: #7fa1a19d;
    transform: translateY(-5px);
  }
</style>
