---
import SkillBubble from "../components/SkillBubble.astro";
---

<div class="text-center mt-10" data-aos="zoom-in-up" data-aos-duration="1000">
  <h2 class="text-4xl md:text-5xl text-txt-primary font-extrabold p-10">
    Skills
  </h2>

  <div class="flex flex-wrap justify-center max-w-4xl m-auto gap-4">
    <SkillBubble
      href="../../src/assets/img/companies-logos/java.svg"
      alt="Java logo"
      title="Java"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/Spring.webp"
      alt="Spring logo"
      title="Spring"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/jwt.webp"
      alt="JSON Web Token logo"
      title="JWT"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/mysql.webp"
      alt="MySQL logo"
      +
      title="MySQL"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/postgresql.webp"
      alt="PostgreSQL logo"
      title="PostgreSQL"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/postman.webp"
      alt="Postman logo"
      title="Postman"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/docker.webp"
      alt="Docker logo"
      title="Docker"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/css.webp"
      alt="CSS logo"
      title="CSS"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/html.webp"
      alt="HTML logo"
      title="HTML"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/javascript.webp"
      alt="Javascript logo"
      title="Javascript"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/typescript.webp"
      alt="Typescript logo"
      title="Typescript"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/angular.svg"
      alt="Angular logo"
      title="Angular"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/tailwind.webp"
      alt="Tailwind logo"
      title="Tailwind"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/bootstrap.webp"
      alt="Bootstrap logo"
      title="Bootstrap"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/figma.webp"
      alt="Figma logo"
      title="Figma"
    />

    <SkillBubble
      href="../../src/assets/img/companies-logos/git.webp"
      alt="Git logo"
      title="GIT"
    />
  </div>
  
</div>
